@using BlazorTemplate.UserInterface
@using BlazorTemplate.UserInterface.Pages
@using BlazorTemplate.UserInterface.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="@(new List<System.Reflection.Assembly>(){ typeof(BlazorTemplate.UserInterface.Components.MainLayout).Assembly })">
        <Found Context="routeData">
            <AuthorizeRouteView Resource="@routeData" RouteData="@routeData"
                DefaultLayout="@typeof(BlazorTemplate.UserInterface.Components.MainLayout)">
                <Authorizing>
                    <text>Please wait, we are authorizing you...</text>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity!.IsAuthenticated)
                    {
                        <p>You are not authorized to access this resource.</p>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
    }
}